// main: main.scss
.card-holder {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  .card {
    flex: 0 0 100%;
    padding: 2rem;
    @include for-tablet-portrait-up {
      flex-basis: 50%;
    }
    @include for-tablet-landscape-up {
      flex-basis: 30%;
    }
    h2,
    h3 {
      color: $tertiary;
    }
    h2 {
      font-size: 2rem;
    }
  }
}
.history {
  text-align: left;
  table {
    border-collapse: collapse;
    @include for-tablet-landscape-up {
      max-width: 60%;
    }
    @include for-desktop-up {
      max-width: 50%;
    }
    td {
      vertical-align: top;
      padding: 0.66rem 0.33rem;
    }
    .date-row {
      padding: 0.33rem 0.66rem;
      font-style: italic;
      background: $secondary;
      border-radius: 5px;
      color: #fff;
    }
    .activity-cell {
      padding-bottom: 1rem;
    }
    .icon-cell {
      display: none;
      @include for-tablet-portrait-up {
        display: table-cell;
      }
    }
  }
}
