// main: main.scss
footer {
  padding: 2rem 2rem 4rem;
  background: $dark;
  color: $grey;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  @include for-tablet-landscape-up {
    flex-direction: row;
    padding: 5rem 2rem;
  }
  p,
  h3 {
    margin: 0;
  }
  a {
    color: $grey;
  }
  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: center;
    li {
      display: block;
      margin: 2rem 1rem;
      &:first-child {
        margin-left: 0;
      }
      @include for-tablet-portrait-up {
        display: inline-block;
      }
    }
  }
}
