// main: main.scss
.btn {
  padding: 8px 14px;
  text-decoration: none;
  color: #fff;
  background: $brand;
  border-radius: 4px;
  &:hover {
    background: darken($brand, 15%);
  }
}
.btn-outline {
  background: transparent;
  border: 1px solid $dark;
  color: $dark;
  &:hover {
    background: $dark;
    color: #fff;
  }
}
.btn-success {
  background: $success;
  &:hover {
    background: darken($success, 15%);
  }
}
.btn-error {
  background: $error;
  &:hover {
    background: darken($error, 15%);
  }
}
.btn-warning {
  background: $warning;
  &:hover {
    background: darken($warning, 15%);
  }
}
.icon-right {
  margin-left: 0.66rem;
}
.icon-left {
  margin-right: 0.66rem;
}
.icon-left-close {
  margin-right: 0.33rem;
}
.list-unstyled {
  padding: 0;
  margin: 0;
  list-style: none;
}
.list-inline {
  @extend .list-unstyled;
  li {
    display: inline-block;
    margin: 0 1rem;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}
.text-center {
  text-align: center;
}
.help-text {
  color: $error;
  font-style: italic;
  margin: 0;
  font-size: 0.9rem;
}
.highlight-span {
  background: $dark;
  border-radius: 5px;
  color: #fff;
  padding: 0.33rem 0.66rem;
  margin: 0 0.2rem;
}
.row {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.space-between {
  justify-content: space-between;
}
