// main: main.scss
.admin-nav {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #999;
  .btn {
    background: transparent;
    color: #999;
    &:first-child {
      margin-left: 0;
    }
  }
  .active {
    color: $brand;
  }
}
section {
  .admin-view {
    h3 {
      color: $tertiary;
    }
  }
}
.admin-view {
  padding: 2rem 0;
  display: none;
  text-align: left;
  .tableWrapper {
    padding: 1rem;
    border: 1px solid $grey;
    border-radius: 5px;
    margin-bottom: 2rem;
  }
}
.admin-activity {
  border: 1px solid $grey;
  border-radius: 5px;
  padding: 1rem;
  margin-bottom: 1rem;
  h4 {
    button {
      margin-left: 1rem;
    }
  }
  p:not(:last-child) {
    display: inline-block;
    margin-right: 1rem;
  }
}
#editActivityForm {
  display: none;
}
.cancel-activity-edit-btn {
  display: none;
}
#uploadProgressBar {
  height: 2rem;
  display: none;
  background: $grey;
  border-radius: 5px;
  align-items: stretch;
  #progressBarInner {
    background: $success;
    height: 2rem;
    width: 0%;
    border-radius: 5px;
  }
}
#adminAnalyticsView {
  display: block;
}
