// main: main.scss

// ===========================================
// Logged out Alert stuff
//============================================
.block-alert {
  width: 100%;
  background: $error; // Our most frequent alert is an error so by default alerts are error themed
  color: #fff;
  text-align: left;
  display: none;
}
.alert-message {
  padding: 1rem;
  display: inline-block;
  clear: both;
}
.alert-success {
  background: $success;
}

// ===========================================
// Logged in Alert stuff
//============================================
#alertBox {
  .alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 5px;
    background: $error;
    color: #fff;
    margin-bottom: 2rem;
  }
  .alert-success {
    background: $success;
  }
  .alert-warning {
    background: $warning;
  }
  .message,
  .alert-dismiss-btn {
    padding: 1rem;
  }
  .alert-dismiss-btn {
    margin: 0 0 0 1rem;
    background: transparent;
    color: #fff;
    @include for-tablet-portrait-up {
      margin-left: 2rem;
    }
  }
}
