// =============================================
//
//  Variables and imports only please!
//
// ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

// Colours first
$brand:       #4db8dd;  // Blue
$background:  #fff;     // White
$secondary:   #59a28e;  // Patina Green
$tertiary:    #ff9b67;  // Pink Orange
$dark:        #0C0187;  // Royal Blue

$text-colour: #444;

$off-white:   #f5f5f5;  // White Smoke
$grey:        #e5e5e5;  // Off white
$dark-grey:   #777;     // Dark grey

$success:     #66b47d;  // Forest green
$warning:     #edc963;  // Golden sand
$error:       #e25835;  // Flame pea

// Global styles
$base-font-family:    'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-font-weight:    400;
$base-font-size:      15px;

@import
  "_resets",
  "_breakpoints",
  "_elements",
  "_global",
  "_header",
  "_footer",
  "_logged-out",
  "_logged-in",
  "_shame",
  "_forms",
  "_audio",
  "_analytics",
  "_alerts",
  "_admin"
  ;
